<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')

  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>1080p dashboard<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=502337339937592";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style='background-color:#000;'>
      <div style='background-color:#694;' data-view="Image" data-image="/LogoSean.png"></div>
    </li>



    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style='background-color:#900;'></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1" style="background-color:#900;">
      <div data-id="twitter_mentions" data-view="Comments" style="font-size:30px;background-color:#900;" data-moreinfo="Tweets from MikeyMegaMega"></div>
      <i class="icon-twitter icon-background"></i>
    </li>


    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2" style='background-color:#900;'>
      <div style='background-color:#900;' data-view="Image" data-image="/Worgen.jpg"></div>
    </li>
    

  </ul>

  
</div>

  //<div class="fb-page" data-href="https://www.facebook.com/LARPsTheSeries/" style ="position:relative; top: -1050px; left: 1525px;" data-width="330" data-height="1080" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
  <div class="fb-xfbml-parse-ignore">
  <blockquote cite="https://www.facebook.com/MYOB/"><a href="https://www.facebook.com/LARPsTheSeries/">LARPsTheSeries</a></blockquote></div></div>


  <iframe id="ytplayer" type="text/html" width="720" height="680" style ="position:relative; top: -1089px; left: 448px;"
  src="https://www.youtube.com/embed/?listType=playlist&list=PLlzTxFf4cHcOeVCXpLYA1yLECFsUgyZs3&autoplay=1&loop=1"
  frameborder="0" allowfullscreen>

  <div id="embedded-feed"></div>//
  